@import url("https://use.typekit.net/dqw7rpi.css");

:root {
  // --bs-font-sans-serif: "museo-sans", sans-serif;
  // --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-primary-bg-subtle: #f8f8f8;
  --bs-primary: #a80918;
  --bs-gutter-x: 1rem;
}
.accordion {
  --bs-accordion-btn-padding-y: 0.4rem;
  --bs-accordion-btn-focus-box-shadow: 0;

  button {
    font-weight: 300;
  }
  .accordion-body {
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.4em;
  }
}

h1 {
  font-family: "museo";
  font-weight: 500;
}
h3 {
  font-weight: 500;
  font-size: 1em;
}
#config {
  background-color: #eee;
  ul {
    li {
      border: 1px solid #ccc;
      padding: 0.2em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      vertical-align: middle;
      line-height: 1.8em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.worktree {
  font-size: 0.7em;
  border-bottom: 1px solid #ccc;
  h3 {
    font-weight: 700;
    margin: 0;
  }
  .row {
    align-items: center;
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: max-content auto auto;
    margin: 0;
  }
  .col {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .col:first-child {
    padding-left: 0px;
  }
  .col:last-child {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    text-wrap: nowrap;
  }
  .state {
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      height: 1.5em;
    }
  }
  .state div span {
    background-color: #f8f8f8;
    border-color: #333;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 0.2em;

    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-right: 0.3em;
  }
  button img {
    max-width: 1.3em;
    max-height: 1.3em;
  }
}
